body {
  padding-top: 50px;
}

img{
  border: 2px solid gray;
  border-radius: 4px;
  /*box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.1);*/
}

.imgP{
  border: 0;
}

.border{  
  margin: 5px 0px;
}

.form-group {
  padding: 10px;
}

.ng-invalid.ng-dirty{
  border-color: red;
}

.ng-valid.ng-dirty{
  border-color: green;
}

.navbar-brand {
  font-weight: 800;
}

.navbar-brand img {
  width: 24px;
}

.avatar {
  max-width: 480px;
  margin-bottom: 20px;
}

.nav-tabs {
  margin-bottom: 10px;
}

.color{
  margin-left: 2px;
}

.color-rojo{
  background-color: red;
}

.color-azul{
  background-color: blue;
}

.color-verde{
  background-color: green;
}

.product {
  padding: 20px;
  margin-bottom: 10px;
  border: solid 1px #D9230F;
  border-radius: 20px;
}

.product:hover {
  border: solid 3px #D9230F;
}

.product img {
  width: 300px;
}
