<ul class="list-group">
  <li class="list-group-item">
    <h3>{{product.name}}</h3>
  </li>
  <li class="list-group-item">
    <strong>Colores</strong>
    <span class="pull-right">
      <span ng-repeat="color in product.colors" class="label color color-{{color | lowercase}}">
        {{"-"}}
      </span>         
    </span> 
  </li>
  <li class="list-group-item">
    <strong>Categoria</strong>
    <span class="pull-right">
      {{product.category}}
    </span>
  </li>        
</ul>
<div>
    <p ng-repeat="desc in product.description">{{desc}}</p>
</div>
<span class="label label-info">
  {{product.state}}
</span>