<ul class="list-group">
	<li class="list-group-item">
		<strong>Alto</strong>
		<span class="pull-right">
			{{esfero.height}}        			
		</span>		        		
	</li>	
	<li class="list-group-item">
		<strong>Material</strong>
		<span class="pull-right">
			{{esfero.material}}   			
		</span>	        		
	</li>
	<li class="list-group-item">
		<strong>Tipo de Impresión</strong>
		<span class="pull-right">
			{{esfero.typePrint}}  			
		</span>	        		
	</li>
	<li class="list-group-item">
		<strong>Área de Impresión</strong>
		<span class="pull-right">
			{{esfero.areaPrint}}  			
		</span>	        		
	</li>
	<li class="list-group-item">
		<strong>Flete</strong>
		<span class="pull-right">
			{{esfero.flete}}      			
		</span>		       		
	</li>
</ul>