<ul class="list-group">
	<li class="list-group-item">
		<strong>Alto</strong>
		<span class="pull-right">
			{{product.height}}        			
		</span>		        		
	</li>	
	<li class="list-group-item">
		<strong>Material</strong>
		<span class="pull-right">
			{{product.material}}   			
		</span>	        		
	</li>
	<li class="list-group-item">
		<strong>Tipo de Impresión</strong>
		<span class="pull-right">
			{{product.typePrint}}  			
		</span>	        		
	</li>
	<li class="list-group-item">
		<strong>Área de Impresión</strong>
		<span class="pull-right">
			{{product.areaPrint}}  			
		</span>	        		
	</li>
	<li class="list-group-item">
		<strong>Flete</strong>
		<span class="pull-right">
			{{product.flete}}      			
		</span>		       		
	</li>
</ul>